@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
}


a {
  text-decoration: none;
}

.flex_nav {
  display: flex;
  flex-direction: column;
}

.courses_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 30px;
}

/* Header responsive */
@media only screen and (max-width:667px) {
  .container {
    padding: 0px 10px;
  }

  .courses_container {
    padding: 50px 0;
    grid-template-columns: 1fr;
  }

  .course_details {
    padding: 50px 10px;
  }

  .course_details .flex {
    flex-direction: column;
  }

  .course_details .btn {
    margin-top: 20px;
  }

  .hero-section {
    flex-direction: column;
  }

  .nav_link {
    display: none;
  }

  header>div,
  .padding {
    padding: 0px 10px;
  }

  .hero-section .content {
    flex-direction: column;
  }

}